extends /headered

block title
	title #{$msgs$.sitename} - #{$msgs$.accountsManagement}

block inHead0
	link(rel='stylesheet', href='/stylesheets/style2.css')

block content
	include /infoElement
	br
	div#info
		table
			tr
				td(align="right")
					label #{$msgs$.login}
				td(align="left")
					input(type="text" name="login" value=data.accountLogin disabled="disabled")
			tr
				td(align="right")
					label #{$msgs$.password}
				td(align="left")
					input(type="password" name="password" value="********" disabled="disabled")
		a.greenButton(href="/accounts/management/changepassword/"+data.accountLogin) #{$msgs$.changePassword}